<div style="border: 1px solid red" class="user-component">
  <h1>User Component</h1>
  <li *ngFor="let user of users" (click)="onSelect(user)"><!--&lt;!&ndash;routerLink="detail/{{user.id}}"&ndash;&gt;-->
    {{user.username}}
    {{user.password}}

  </li>
</div>

<div style="border: 1px solid blue" *ngIf="newUser">
  {{newUser.id}}
  {{newUser.username}}
</div>

<app-user-detail [user]="selectedUser"></app-user-detail>

<app-registration-form (newUserMisha)="updateListOfUsers($event)" ></app-registration-form>
